[Unit]
Description=Develed imaged daemon
Requires=dspd.service

[Service]
Type=simple
ExecStart=/usr/bin/imaged

[Install]
WantedBy=multi-user.target
